body {
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100vh;
}

.nav-main {
  color: var(--color-background)
}

.heading ,
.text {
  line-height: 1.75;
  text-align: center;
}

.display {
  min-height: 38rem;
  padding: 0 2ch;
  border: 1px solid black;
}

.grid-demo,
.grid-demo .grid-child{
  border: 1px solid black;
}
.snackbar-display {
  height: 100vh;
}


.img-display {
  margin-left: -35vw;
}