body {
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100vh;
}

.nav-main {
  color: var(--color-background)
}

.heading ,
.text {
  line-height: 1.75em;
  text-align: center;
}

.display {
  min-height: 38rem;
  padding: 0 2ch;
  border: 1px solid black;
}

.grid-demo,
.grid-demo .grid-child{
  border: 1px solid black;
}

.snackbar-display {
  height: 100vh;
}

.img-display img{
  margin: 2ch;
}

p.site-docs{
  margin: 1ch 0;
}

h2.site-docs,
h3.site-docs,
h4.site-docs {
  margin: 3ch 0 0.5ch;
}

.list-item code {
  text-transform: lowercase;
}

.bg-accent .text {
  font-weight: 500;
  color: inherit;
}

.site-docs.status-info-bg {
  padding: 0.5em;
  font-size: 1.2em;
}