.gray-text{
  background-color: rgb(163, 163, 163);
  border-radius:  10px;
  box-shadow: 0px 0px 10px 0.5px #aa9c9c inset;
  padding: 2ch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}