:root{
  --color-gray-text: #a3a3a3;
  --color-gray-text-shadow: #aa9c9c;
}
.gray-text{
  background-color: var(--color-gray-text);
  border-radius:  10px;
  box-shadow: 0px 0px 10px 0.5px var(--color-gray-text-shadow) inset;
  padding: 2ch;
}

.center-xy{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}