:root {
  --width-nav-scrolling: 60vw;
  --width-nav-site: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0.5ch;
  border-radius: 5px;
}

.nav .list-inline {
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.nav-site {
  margin-bottom: 4rem;
  max-width: var(--width-nav-site);
}

.nav-scrolling {
  max-width: var(--width-nav-scrolling);
  overflow-x: auto;
}
.nav-site,
.nav-site .list-inline {
  flex-flow: row wrap;
}
.nav-scrolling,
.nav-scrolling .list-inline {
  flex-flow: row nowrap;
}
