.snackbar{
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  border-radius: 10px;
  font-weight: 200;
  z-index: 99999;
  width: max-content;
}

.snackbar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.baseline {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.leading{
  bottom: 15%;
  left: 0;
  transform: translateX(10%);
}

.stacked{
  flex-direction: column;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, 0);
}
.stacked .action-buttons
.stacked .actions{
  align-self: flex-end;
}

.snackbar .action-buttons .btn{
  margin: 0 2ch;

}