.status-success {
  color: #30a530;
}

.status-error {
  color: #cc0f0f;
}

.status-warning {
  color: #dbca2d;
}

.status-info {
  color: #669beb;
}

.status-plain {
  color: #808080;
}

.status-active {
  color: #04ad04;
}

.status-busy {
  color: #aa2b2b;
}

.status-idle {
  color: #d68f0a;
}

.status-available {
  color: #5686c5;
}

.status-inactive {
  color: #615f5f;
}






.status-success-bg {
  background-color: #30a530;
  color: #111010;
}

.status-error-bg {
  background-color: #cc0f0f;
  color: #fdf9f9;
}

.status-warning-bg {
  background-color: #c2b329;
  color: #2e2d2d;
}

.status-info-bg {
  background-color: #669beb;
  color: #202020;
}

.status-plain-bg {
  background-color: #808080;
  color: #000000;
}

.status-active-bg {
  background-color: #04ad04;
  color: #111010;
}

.status-busy-bg {
  background-color: #aa2b2b;
  color: #fdf9f9;
}

.status-idle-bg {
  background-color: #d68f0a;
  color: #2e2d2d;
}

.status-available-bg {
  background-color: #5686c5;
  color: #202020;
}

.status-inactive-bg {
  background-color: #615f5f;
  color: #000000;
}