/* primary, secondary, accent... */
:root{
  --color-primary: #2e2e2e;
  --color-secondary: #646668;
  --color-accent: #c9003c;
  --color-text: #424242;
  --color-background: #c0b7b7;
}
.bg-primary {
  background-color: var(--color-primary);
  color: #c0b7b7;
}
.outline-primary{
  border: 2px solid var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: #ffffff;
}
.outline-secondary {
  border: 2px solid var(--color-secondary);
} 

.bg-accent {
  background-color: var(--color-accent);
  color: #ffffff;
}
.outline-accent {
  border: 2px solid var(--color-accent);
} 

.bg-default{
  background-color: var(--color-background);
  color: var(--color-text);
}

.outline-default{
  border: 2px solid var(--color-background);
}