/* .cards, */

.card-container,
.card-primary-content,
.actions {
  display: flex;
  flex-wrap: wrap;
}

.actions {
  flex-wrap: nowrap;
}

.cards {
  padding: 10px;
  justify-content: space-around;
  gap: 4rem;
}

.card-container {
  background-color: white;
  box-shadow: 0 0 5px rgb(58, 57, 58);
  row-gap: 5px;
  width: 400px;
  flex-direction: column;
  border-radius: 15px 15px 20px 20px;
}

.card-primary-content {
  flex-direction: column;
}

.card-primary-content:hover {
  filter: grayscale(0.1) invert(0.1);
  background-color: #fff;
  backdrop-filter: contrast(100%);
  transform: 0.3s;
}

.card-header {
  margin: 1rem 0 0.5rem
}

.card-header,
.card-body {
  padding: 0 15px;
}

.card-body {
  margin: 3px 0 1rem;
}

.media img,
.card-primary-content:hover {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.actions {
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 2ch;
}

.actions button {
  margin: 0 10px;
  min-width: 50px;
  min-height: 50px;
  border: none;
}

.card-title-float .card-primary-content {
  position: relative;
}

.card-title-float .card-header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card-title-top .card-header,
.card-thumbnail .card-header {
  order: -1;
}

.card-title-top .media img,
.card-thumbnail .media img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-action-buttons .actions {
  justify-content: flex-start;
  padding-left: 10px;
}

.card-action-icons .actions {
  justify-content: flex-end;
}

.card-action-buttons .action-icons,
.card-action-icons .action-buttons {
  display: none;
}

.card-horizontal .card-primary-content {
  flex-flow: row nowrap;
}

.card-horizontal .card-body {
  display: none;
}

.card-horizontal .media img {
  border-top-right-radius: 0;

}

.card-horizontal .media {
  max-width: 40%;
}

.card-thumbnail .card-header {
  display: flex;
  flex-flow: row wrap;
  column-gap: 5px
}

.card-thumbnail p[role="doc-subtitle"] {
  font-weight: 100;
}

.thumbnail img {
  max-width: 3%;
}

.card-thumbnail .thumbnail {
  border-radius: 50%;
  margin-right: 10px;
}

.actions button:hover,
.action-button {
  filter: hue-rotate(20deg);
}