<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — alert</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">

  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">alert</h1>
  </header>


  <main class="main-content padding-x-xl">
    <h2>Installation Link</h2>
    <p>Copy the following to the <code>&lt;head></code>of your HTML</p>
    <div class="stylesheet-code bg-primary"> 
      <code>
        &lt;link rel="stylesheet" href="https://design-with-ira.netlify.app/installationLinks/alert.css">
      </code>
    </div>


    <p class="site-docs">Alerts are used to display short, important message to the user. To implement this
      functionality, add the <span class="highlight">alert</span> class to your <code>&lt;p></code> tag</p>

    <h2 class="site-docs">Standard Alerts</h2>
    <p class="site-docs">Based on the purpose 0f the alert, a second class is to be added to the tag. This class adds
      background color to the alert.</p>

    <h3 class="heading list-heading">Status Classes for background</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>status-plain-bg</code></li>
      <li class="list-item"><code>status-info-bg</code></li>
      <li class="list-item"><code>status-warning-bg</code></li>
      <li class="list-item"><code>status-error-bg</code></li>
      <li class="list-item"><code>status-success-bg</code></li>
    </ul>

    <p class="site-docs">To adjust the color of any of the above status classes, in your stylesheet do
      <code>
        :root {
        --color-status-success: &lt;color>;
        --color-inverse-status-success: &lt;color>;
        }
      </code>.
      This will change the the color wherever you use the status class, that is, in status-warning-outline (borders),
      status-warning-bg (bacground), and status-warning (text) classes. The inverse
      <code>--color-inverse-status-warning</code> property is used to provide appropriate text color against the status
      background.
    </p>
    <div>
      <p class=" alert status-plain-bg "> Thanks for visiting!</p>
      <p class=" alert status-info-bg ">This library is open for use</p>
      <p class=" alert status-warning-bg ">Documentation is Incomplete</p>
      <p class=" alert status-error-bg ">Download failed!</p>
      <p class=" alert status-success-bg ">Download successful!</p>
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620f519814fadf0015661db4" frameborder="0"></iframe>

    <h2 class="site-docs">Outline Alerts</h2>
    <p class="site-docs">The outline class is an alternative to the background class.</p>

    <h3 class="heading list-heading">Status Classes for Outline</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>status-plain-outline</code></li>
      <li class="list-item"><code>status-info-outline</code></li>
      <li class="list-item"><code>status-warning-outline</code></li>
      <li class="list-item"><code>status-error-outline</code></li>
      <li class="list-item"><code>status-success-outline</code></li>
    </ul>

    <div>
      <p class=" alert status-plain-outline">Thanks for visiting!</p>
      <p class=" alert status-info-outline">This library is open for use</p>
      <p class=" alert status-warning-outline">Documentation is Incomplete</p>
      <p class=" alert status-error-outline">Download failed!</p>
      <p class=" alert status-success-outline">Download successful!</p>
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620f521514fadf0015661db6" frameborder="0"></iframe>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>
  <script src="../../scripts/site-nav-side.js"></script>
</body>

</html>