<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — avatar</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">avatar</h1>
  </header>



  <main class="main-content padding-x-xl">
<button class="btn btn-link bg-accent"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/05-objects/avatar.css">Install Avatar file</a></button>

<h3 class="heading heading-xs list-heading">Additonal Installations</h3>
<ul class="list">
<li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/04-elements/elements.css">Base Element</a></li>
<li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/99-trumps/status.css">Status classes</a></li>
<li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/99-trumps/utils.css">Utils</a></li>
</ul>

    <p class="site-docs">Avatars are used to represent users in a virtual community. They can be the user's picture or graphical illustrations. To implement this functionality, add the <span class="highlight">avatar</span> class to the <code>&lt;img></code> tag</p>

    <h2  class="site-docs">Additional Classes</h2>
    <p  class="site-docs"><code>round</code> class is used in the below example to make the avatars round.</p>


    <h3 class="heading list-heading">Size Classes for Avatar</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>avatar-xs</code></li>
      <li class="list-item"><code>avatar-sm</code></li>
      <li class="list-item"><code>avatar-md</code></li>
      <li class="list-item"><code>avatar-lg</code></li>
    </ul>

    <h3 class="heading list-heading">Status Classes for Avatar</h3>
    <p  class="site-docs">These classes add a border to the avatars, indicating availability</p>
    <ul class="list list-bulleted">
      <li class="list-item"><code>status-available</code></li>
      <li class="list-item"><code>status-busy</code></li>
      <li class="list-item"><code>status-idle</code></li>
      <li class="list-item"><code>status-active</code></li>
      <li class="list-item"><code>status-inactive</code></li>
    </ul>

    <p  class="site-docs">To adjust the color of any of the above status classes, in your stylesheet do
      <code>
        :root {
          --color-status-inactive: &lt;color>;
          --color-inverse-status-inactive: &lt;color>;
        }
      </code>. 
      This will change the the color wherever you use the status class - status-inactive-outline (borders), status-inactive-bg (bacground), status-inactive (text). The inverse <code>--color-inverse-status-inactive</code> property is used to provide appropriate text color against the status background.
    </p>

    <div>
      <img class="avatar round avatar-xs" src="/assets/avatar1.jpg" alt="img">
      <img class="avatar round avatar-sm" src="/assets/avatar1.jpg" alt="img">
      <img class="avatar round avatar-md" src="/assets/avatar1.jpg" alt="img">
      <img class="avatar round avatar-lg" src="/assets/avatar1.jpg" alt="img">
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/6208029ed9ba1100151e6bd0" frameborder="0"></iframe>

    <div>
      <img class="avatar status-available-outline round avatar-xs" src="/assets/avatar2.jpg" alt="img">
      <img class="avatar status-inactive-outline round avatar-xs" src="/assets/avatar2.jpg" alt="img">
      <img class="avatar status-active-outline round avatar-sm" src="/assets/avatar2.jpg" alt="img">
      <img class="avatar status-idle-outline round avatar-md" src="/assets/avatar2.jpg" alt="img">
      <img class="avatar status-busy-outline round avatar-lg" src="/assets/avatar2.jpg" alt="img">
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620803b7d9ba1100151e6bd4" frameborder="0"></iframe>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>