<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — badge</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
  <a class="logo" href="/">
    <img src="/assets/logo.png" alt="Ira">
  </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item"> <a
            href=/pages/docs.html>Documentation </a> </li> <li class="nav-list-item"> <a
              href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
                href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>


  <aside>
    <nav class="nav-side">
      <ul>

        <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



        <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



        <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



        <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>







        <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



        <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



        <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



        <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>



        <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



        <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



        <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



        <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



        <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



        <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


      </ul>
    </nav>
  </aside>


  <header>
    <h1 clss="page-title">badge</h1>
  </header>



  <main class="main-content">
    <div>
      <div class="badge-wrapper">
        <img src="https://picsum.photos/100" 
        alt="avatar "
        srcset="
        https://picsum.photos/100 100w,
        https://picsum.photos/200 200w
        "
        sizes="(min-width: 480px) 200px, 100px"
        class="avatar avatar-sm round"
        >
        <span class="badge badge-sm badge-left status-success-bg">4</span>
      </div>
      <div class="badge-wrapper">
        <img src="https://picsum.photos/100" 
        alt="avatar "
        srcset="
        https://picsum.photos/100 100w,
        https://picsum.photos/200 200w
        "
        sizes="(min-width: 480px) 200px, 100px"
        class="avatar avatar-sm round"
        >
        <span class="badge badge-sm badge-right status-success-bg">4</span>
      </div>
    </div>
    
    <iframe src="https://www.thiscodeworks.com/embed/62081086d9ba1100151e6be6" frameborder="0"></iframe>

    <div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/camera.png" alt="camera">
        <span class="badge badge-right badge-sm status-info-bg">4</span>
      </div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/mail.png" alt="mail">
        <span class="badge badge-left badge-md status-error-bg">4</span>
      </div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/phone.png" alt="phone">
        <span class="badge badge-right badge-md status-plain-bg">4</span>
      </div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/music.png" alt="music">
        <span class="badge badge-right badge-lg status-warning-bg">4</span>
      </div>
    </div>

    <iframe src="https://www.thiscodeworks.com/embed/620810c3d9ba1100151e6be7" frameborder="0"></iframe>
   
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

</body>

</html>