<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — badge</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">badge</h1>
  </header>



  <main class="main-content padding-x-xl">

    <button class="btn btn-link bg-accent"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/05-objects/badge.css">Install Badge file</a></button>

    <h3 class="heading heading-xs list-heading">Additonal Installations</h3>
    <ul class="list">
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/04-elements/elements.css">Base Element</a></li>
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/99-trumps/status.css">Status classes</a></li>
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/05-objects/icon.css">Icon Installation</a></li>
    <li class="list-item"><a class="text text-md" href="./avatar.html">Avatar Installations</a></li>
    </ul>

  <p class="site-docs">Badges are used to display notifs, and status. To implement this functionality, add the <span class="highlight">badge-wrapper</span> class to the <code>&lt;div></code> tag. Inside this wrapper div, give the avatar/ icon. Also, give a <code>&lt;span></code>tag with class <span class="highlight">badge</span> to add the badge.</p>

  <p class="site-docs">To know more about avatar, see <a href="./avatar.html" class="highlight underline">Avatar</a>.  For icons, add class <span class="highlight">icon</span> to the tag.</p>

  <p class="site-docs">To make a status badge, leave the badge span empty. For numbered badges, add the required number within the span.</p>


    <h2  class="site-docs">Additional Classes for &lt;span class="badge"></h2>

    <h3 class="heading list-heading">Size Classes</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>badge-sm</code></li>
      <li class="list-item"><code>badge-md</code></li>
      <li class="list-item"><code>badge-lg</code></li>
    </ul>

    <h3 class="heading list-heading">Status Classes</h3>
    <p  class="site-docs">These classes add a background to the badges. They may indicate availability or purpose of the badge(for icons)</p>
    <ul class="list list-bulleted">
      <li class="list-item"><code>status-available-bg</code></li>
      <li class="list-item"><code>status-busy-bg</code></li>
      <li class="list-item"><code>status-idle-bg</code></li>
      <li class="list-item"><code>status-active-bg</code></li>
      <li class="list-item"><code>status-inactive-bg</code></li>
      <li class="list-item"><code>status-plain-bg</code></li>
      <li class="list-item"><code>status-info-bg</code></li>
      <li class="list-item"><code>status-warning-bg</code></li>
      <li class="list-item"><code>status-error-bg</code></li>
      <li class="list-item"><code>status-success-bg</code></li>
    </ul>
    <p  class="site-docs">To adjust the color of any of the above status classes, in your stylesheet do
      <code>
        :root {
          --color-status-success: &lt;color>;
          --color-inverse-status-success: &lt;color>;
        }
      </code>. 
      This will change the the color wherever you use the status class, that is, in status-warning-outline (borders), status-warning-bg (bacground), and status-warning (text) classes. The inverse <code>--color-inverse-status-warning</code> property is used to provide appropriate text color against the status background.
    </p>

    <h3 class="heading list-heading">Position Classes</h3>
    <p class="site-docs">Position classes are used to set the position of the badge on the required component.</p>
    <ul class="list list-bulleted">
      <li class="list-item"><code>badge-left</code></li>
      <li class="list-item"><code>badge-right</code></li>
    </ul>
    <div>
      <div class="badge-wrapper">
        <img src="https://picsum.photos/100" alt="avatar " srcset="
        https://picsum.photos/100 100w,
        https://picsum.photos/200 200w
        " sizes="(min-width: 480px) 200px, 100px" class="avatar avatar-sm round">
        <span class="badge badge-sm badge-left status-active-bg"></span>
      </div>
      <div class="badge-wrapper">
        <img src="https://picsum.photos/100" alt="avatar " srcset="
        https://picsum.photos/100 100w,
        https://picsum.photos/200 200w
        " sizes="(min-width: 480px) 200px, 100px" class="avatar avatar-sm round">
        <span class="badge badge-sm badge-right status-active-bg">4</span>
      </div>
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/62081086d9ba1100151e6be6" frameborder="0"></iframe>

    <div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/camera.png" alt="camera">
        <span class="badge badge-right badge-sm status-available-bg">4</span>
      </div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/mail.png" alt="mail">
        <span class="badge badge-left badge-md status-busy-bg">4</span>
      </div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/phone.png" alt="phone">
        <span class="badge badge-right badge-md status-inactive-bg">4</span>
      </div>
      <div class="badge-wrapper">
        <img class="icon" src="/assets/music.png" alt="music">
        <span class="badge badge-right badge-lg status-idle-bg">4</span>
      </div>
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620810c3d9ba1100151e6be7" frameborder="0"></iframe>

  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>