<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — button</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">button</h1>
  </header>



  <main class="main-content padding-x-xl">
    <h2>Installation Link</h2>
    <p>Copy the following to the <code>&lt;head></code>of your HTML</p>
    <div class="stylesheet-code bg-primary">
      <code>
        &lt;link rel="stylesheet" href="https://design-with-ira.netlify.app/installationLinks/button.css">
      </code>
    </div>


    <p class="site-docs">Buttons are one of the key components in a site. No page on the web is complete without this
      cickable entity and its multitude of use. Buttons can be used for a range of purposes; from a simple close to
      triggers to dynamic changes in a web app. This also highlights the importance of designing them appropriately. Ira
      provides four different categories of buttons with four basic color properties. These color properties are also
      used to set the brand theme, and will be used in other components. To give a basic design to the buttons, add the
      <span class="highlight">btn</span> class to the <code>&lt;button></code> tag.

      <h2 class="site-docs">Additional Classes</h2>
      <h3 class="heading list-heading site-docs">Classes based on usecase</h3>
      <ul class="list list-bulleted">
        <li class="list-item"><code>bg-primary</code></li>
        <li class="list-item"><code>bg-secondary</code></li>
        <li class="list-item"><code>bg-accent</code></li>
        <li class="list-item"><code>outline-primary</code></li>
        <li class="list-item"><code>outline-secondary</code></li>
        <li class="list-item"><code>outline-accent</code></li>
        <li class="list-item"><code>outline-default</code></li>
      </ul>
      <p class="site-docs">The outline buttons can be used for the alternate choice buttons. The default button is based
        on the web app's background and text colors and blends in with it. The outline buttons also get their text color
        from the site's text color. The background buttons have their own text properties. To know more, refer theme
        colors on <a href="../docs.html" class="highlight underline">Docs Main page</a></p>


      <div class="gray-text center-xy">
        <button class="btn bg-primary">
          primary
        </button>

        <button class="btn bg-secondary">
          secondary
        </button>

        <button class="btn bg-default">
          default
        </button>

        <button class="btn bg-accent">
          Accent
        </button>

        <button class="btn outline-primary">
          primary
        </button>

        <button class="btn outline-secondary">
          secondary
        </button>

        <button class="btn outline-default">
          default
        </button>

        <button class="btn outline-accent">
          Accent
        </button>
      </div>

      <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620fc8bc14fadf0015661e05"
        frameborder="0"></iframe>

      <div class="gray-text center-xy">

        <button class="btn btn-link bg-primary">
          <a href="./button.html">Link Primary</a>
        </button>

        <button class="btn btn-link outline-primary">
          <a href="./button.html">Link Outline-Primary </a>
        </button>
      </div>

      <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620fc8fd14fadf0015661e06"
        frameborder="0"></iframe>

      <div class="gray-text center-xy">

        <button class="btn btn-icon bg-secondary">
          <span><img src="/assets/like.svg" alt="like" class="icon"></span>
          Like
        </button>

        <button class="btn btn-icon outline-secondary">
          <span><img src="/assets/like.svg" alt="like" class="icon"></span>
          Like
        </button>
      </div>

      <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620fc98914fadf0015661e07" frameborder="0">

        <div class="gray-text center-xy">

          <button class="btn btn-float bg-secondary round">
            <img src="/assets/like.svg" alt="like" class="float-item">
          </button>

          <button class="btn btn-float outline-secondary round">
            <img src="/assets/like.svg" alt="like" class="float-item">
          </button>

        </div>

        <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620fc9ca14fadf0015661e08"
          frameborder="0"></iframe>

        </div>

  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script>
</body>

</html>