<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — card</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/06-components/card-archive.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li>
      <li class="nav-list-item"> 
        <button class="hamburger">Documentation</button>
        <aside>
          <nav class="nav-side nav-hidden">
            <ul>
      
              <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>
              
              
              <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>
      
      
              <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>
              
              <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>
      
      
      
              <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>
      
      
            </ul>
          </nav>
        </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li>
      <li class="nav-list-item"> <a href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>


  <header>
    <h1 clss="page-title">card</h1>
  </header>



  <main class="main-content padding-x-xl">
    <button class="btn btn-link bg-accent"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/06-components/card.css">Install Button file</a></button>
    <h3 class="heading heading-xs list-heading">Additonal Installations</h3>
    <ul class="list">
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/04-elements/elements.css">Base Element</a></li>
    <li class="list-item"><a class="text text-md" href="./button.html">Button Installations</a></li>
    <li class="list-item"><a class="text text-md" href="./image.html">Image Installations</a></li>
    <li class="list-item"><a class="text text-md" href="./text.html">Text Installations</a></li>
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/99-trumps/utils.css">Spacing Utils</a></li>
    </ul>
  
    <h3 class="heading site-docs list-heading">Card Classes</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>card-container</code></li>
      <li class="list-item">card type class</li>
      <li class="list-item"><code>card-primary-content</code></li>
      <li class="list-item"><code>media</code></li>
      <li class="list-item"><code>card-header</code></li>
      <li class="list-item"><code>card-body</code></li>
      <li class="list-item"><code>actions</code></li>
      <li class="list-item"><code>action-buttons</code></li>
      <li class="list-item"><code>action-icons</code></li>
    </ul>
    <h3 class="heading site-docs list-heading">Card type classes</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>card-basic</code></li>
      <li class="list-item"><code>card-title-float</code></li>
      <li class="list-item"><code>card-title-top</code></li>
      <li class="list-item"><code>card-buttons-only</code></li>
      <li class="list-item"><code>card-icons-only</code></li>
      <li class="list-item"><code>card-horizontal</code></li>
      <li class="list-item"><code>card-thumbnail</code></li>
    </ul>
    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/621263855362a500156c2bf5"  frameborder="0"></iframe>
    
    <section class="cards">
      <div class="card-container card-basic">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Basic</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>
      <div class="card-container card-title-float">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - On Image</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>
      <div class="card-container card-title-top">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Top</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-buttons-only">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Action Butons Only</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-icons-only">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Action Icons Only</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-horizontal">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Horizontal Card</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-thumbnail">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <figure class="thumbnail">
              <img src="https://picsum.photos/400/200" alt="img">
            </figure>
            <h2>Title - thumbnail</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

    </section>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>