<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — card</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item"> <a
            href=/pages/docs.html>Documentation </a> </li> <li class="nav-list-item"> <a
              href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
                href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>


  <aside>
    <nav class="nav-side">
      <ul>

        <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



        <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



        <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



        <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>







        <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



        <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



        <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



        <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>



        <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



        <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



        <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



        <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



        <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



        <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


      </ul>
    </nav>
  </aside>


  <header>
    <h1 clss="page-title">card</h1>
  </header>



  <main class="main-content">
    <section class="cards">
      <div class="card-container card-basic">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Basic</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>
      <div class="card-container card-title-float">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - On Image</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>
      <div class="card-container card-title-top">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Top</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-buttons-only">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Action Butons Only</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-icons-only">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Action Icons Only</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-horizontal">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <h2>Title - Horizontal Card</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

      <div class="card-container card-thumbnail">
        <section class="card-primary-content">
          <figure class="media">
            <img src="https://picsum.photos/400/200" alt="img">
            <figcaption>This is img caption</figcaption>
          </figure>
          <header class="card-header">
            <figure class="thumbnail">
              <img src="https://picsum.photos/400/200" alt="img">
            </figure>
            <h2>Title - thumbnail</h2>
          </header>
          <p class="card-body">
            This hold the summary/ description
          </p>
        </section>
        <section class="actions card-actions">
          <section class="action-buttons">
            <button class="btn bg-primary"><a href="/">Action 1</a></button>
            <button class="btn outline-primary"><a href="/">Action 2</a></button>
          </section>
          <section class="action-icons">
            <button class="btn btn-icon">
              <span><img src="/assets/like.svg" alt="like" class="icon"></span>
              Like
            </button>

            <button class="btn btn-icon">
              <span><img src="/assets/share.svg" alt="share" class="icon"></span>
              Share
            </button>

          </section>
        </section>
      </div>

    </section>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

</body>

</html>