<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — grid</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">grid</h1>
  </header>



  <main class="main-content padding-x-xl">
    <button class="btn btn-link bg-accent"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/06-components/grid.css">Install Grid file</a></button>
    <h3 class="heading heading-xs list-heading">Additonal Installations</h3>
    <ul class="list">
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/04-elements/elements.css">Base Element</a></li>
    <li class="list-item"><a class="text text-md" href="./image.html">see also: image</a></li>
    <li class="list-item"><a class="text text-md" href="./card.html">see also: cards</a></li>


    <p class="site-docs">Grid component is used to create a matrix of elements. Ira provides two basic column layouts for grid - grid foe two columns and grid for 3 columns. To implement this, add the <code class="highlight">grid-container</code> class to the wrapper. To each child, give the <code class="highlight">grid-child</code> class. Wrappers can be &lt;div> or &lt;section> elements. Child elements can be images, cards, etc.</p>
    <p class="site-docs">To make a two column grid layout add the class <code>grid-col2</code> to the wrapper. Similarly, to make a three column grid layout add the class <code>grid-col3</code> to the wrapper.</p>

    <span class="site-docs status-info-bg"><em>Note: Borders are used only for dislay purpose</em></span> 
    <section class="grid-demo grid-container grid-cols2">
      <p class="grid-child">This is child 1</p>
      <p class="grid-child">This is child 2</p>
      <p class="grid-child">This is child 3</p>
      <p class="grid-child">This is child 4</p>
    </section>

    <section class="grid-container grid-cols2">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
    </section>

    <iframe class="iframe-small" loading="lazy" src="https://www.thiscodeworks.com/embed/620fda3a14fadf0015661e1d" frameborder="0"></iframe>

    <section class="grid-demo grid-container grid-cols3">
      <p class="grid-child">This is child 1</p>
      <p class="grid-child">This is child 2</p>
      <p class="grid-child">This is child 3</p>
      <p class="grid-child">This is child 4</p>
    </section>

    <section class="grid-container grid-cols3">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
    </section>

    <iframe class="iframe-small" loading="lazy" src="https://www.thiscodeworks.com/embed/620fdad414fadf0015661e21" frameborder="0"></iframe>

    <p class="site-docs">In addition to the basic grid layouts, Ira provides two more grid layouts.</p>

    <h3 class="heading list-heading site-docs">Additional grid layouts</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>grid-fit</code></li>
      <li class="list-item"><code>grid-fill</code></li>
    </ul>
    <p class="site-docs">Use the above classes in the wrapper, in place of <code>grid-cols2</code> or <code>grid-cols3</code>.  </p>
    <p class="site-docs"><code>grid-fit</code> and <code>grid-fill</code>fits as many children of specified size in one row of grid container. The difference between them is that <code class="hightlight">grid-fit</code> tries to maintain the gap in the columns as long as possible. If there are more children, it collapses its column gap and tries to fit the new children</p>
    <p class="site-docs"><code class="hightlight">grid-fill</code> has no consideration for the column gaps, it removes the gap at the start and leaves empty spaces at the end of the row</p>

    <h4 class="site-docs uppercase">grid-fit with less number of children</h4>
    <section class="grid-container grid-fit">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
    </section>
    <h4 class="site-docs uppercase">grid-fill with less number of children</h4>

    <section class="grid-container grid-fill">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
    </section>

    <h4 class="site-docs uppercase">grid-fit with more number of children</h4>
    <section class="grid-container grid-fit">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
    </section>

    <h4 class="site-docs uppercase">grid-fill with more number of children</h4>
    <section class="grid-container grid-fill">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
      <img src="https://picsum.photos/100" alt="grid-demo" class="grid-child">
    </section>

    <p class="site-docs">The minimum and maximum width of the children can be adjusted using the following properties
      <pre>
        <code>
          :root{
            
            --width-min-grid-fit: &lt;size>;
            
            --width-max-grid-fit: &lt;size>;
            
            --width-min-grid-fill: &lt;size>;
            
            --width-max-grid-fill: &lt;size>;
          
          }
        </code>
      </pre>  
    </p>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>