<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — image</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">image</h1>
  </header>



  <main class="main-content padding-x-xl img-display">
    <button class="btn btn-link bg-accent"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/05-objects/image.css">Install Image file</a></button>
    <h3 class="heading heading-xs list-heading">Additonal Installations</h3>
    <ul class="list">
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/04-elements/elements.css">Base Element</a></li>
    <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/99-trumps/utils.css">Utils</a></li>
    <li class="list-item"><a class="text text-md" href="./card.html">see also: cards</a></li>
    <h2 class="heading list-heading site-docs">Classes for <code>&lt;img></code> element</h2>

    <ul class="list list-bulleted">
      <li class="list-item"><code>img-round</code></li>
      <li class="list-item"><code>img-responsive</code></li>
    </ul>
    
    <p class="site-docs"><code class="highlight">img-round</code> is used to make the image circular.</p>
    <div>
      <img src="https://picsum.photos/300/200" alt="round-image-test" class="img-round">
    </div>
    
    <iframe class="iframe-small" loading="lazy" class="no-expansion" src="https://www.thiscodeworks.com/embed/620fcff214fadf0015661e0f"  frameborder="0"></iframe>
    
    <p class="site-docs"><code class="highlight">img-responsive</code> is used to create a responsive image.</p>

    <h2  class="site-docs">Additional Classes</h2>

    <h3 class="heading list-heading">Size Classes</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>size-sm</code></li>
      <li class="list-item"><code>size-md</code></li>
      <li class="list-item"><code>size-lg</code></li>
    </ul>


    <div>
      <img src="https://picsum.photos/800" alt="responsive-image-test" class="img-responsive size-sm">
  
    <img src="https://picsum.photos/800" alt="responsive-image-test" class="img-responsive size-md">

      <img src="https://picsum.photos/800" alt="responsive-image-test" class="img-responsive size-lg">
    </div>

    <iframe class="iframe-small loading="lazy" class="no-expansion" src="https://www.thiscodeworks.com/embed/620fd05114fadf0015661e10"  frameborder="0"></iframe>

    <p class="site-docs">To prevent scaling of image beyond its actual size, use the class <code class="highlight">no-expansion</code></p>

    <div>
      <img src="https://picsum.photos/800" alt="responsive-image-test" class="img-responsive size-lg no-expansion">
    </div>

    <iframe class="iframe-small" loading="lazy" class="no-expansion" src="https://www.thiscodeworks.com/embed/620fd09614fadf0015661e12" frameborder="0"></iframe>

    <div>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>