<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — input</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">input</h1>
  </header>
    <main class="main-content padding-x-xl">
      <button class="btn btn-link bg-accent"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/05-objects/input.css">Install Input file</a></button>
      <h3 class="heading heading-xs list-heading">Additonal Installations</h3>
      <ul class="list">
      <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/04-elements/elements.css">Base Element</a></li>
      <li class="list-item"><a class="text text-md" href="https://design-with-ira.netlify.app/styles/99-trumps/status.css">Status Classes</a></li>
      <li class="list-item"><a class="text text-md" href="./button.html">Button Installations</a></li>


     <p class="site-docs">Inputs are used to display get data from the user. To implement this functionality, wrap the input element. On the wrapper, add the <span class="highlight">form-item</span> class. To the <code>&lt;input type="text"></code> tag, give the class <span class="highlight">form-input</span>.</p>
    <p class="status-info-bg site-docs">Note: Add the <span class="underline">form-input</span> class only to text inputs and not to radio buttons, checkboxes, range slider etc.</p>

    <h2 class="site-docs">Additional Classes</h2>
    <p class="site-docs">All the form-items (wrappers) can be wrapped inside a  <code>&lt;form></code> tag, and this form tag can contain the class <span class="highlight">form</span></p>
    <h3 class="heading list-heading site-docs">Status Classes for Wrapper</h3>
    <p  class="site-docs">These classes are used to change the color of the bottom border. This can be used for input validation. By default, the color of the status is status-plain-outline. </p>
    <ul class="list list-bulleted">
      <li class="list-item"><code>status-plain-outline</code></li>
      <li class="list-item"><code>status-info-outline</code></li>
      <li class="list-item"><code>status-warning-outline</code></li>
      <li class="list-item"><code>status-error-outline</code></li>
      <li class="list-item"><code>status-success-outline</code></li>
    </ul>
    <p  class="site-docs">To adjust the color of any of the above status classes, in your stylesheet do
      <code>
        :root {
          --color-status-success: &lt;color>;
          --color-inverse-status-success: &lt;color>;
        }
      </code>. 
      This will change the the color wherever you use the status class, that is, in status-warning-outline (borders), status-warning-bg (bacground), and status-warning (text) classes. The inverse <code>--color-inverse-status-warning</code> property is used to provide appropriate text color against the status background.
    </p>


    <form action="#" class="form">
      <div class="form-item status-success-outline">
        <input type="text" class="form-input" placeholder="name" aria-label="name" autocomplete="name">
      </div>
      <div class="form-item status-plain-outline">
        <input type="email" class="form-input" placeholder="email" aria-label="email" autocomplete="email">
      </div>
      <div class="form-item status-warning-outline">
        <input type="password" class="form-input" placeholder="password" aria-label="password">
      </div>
      <div class="form-item status-error-outline">
        <input type="password" class="form-input" placeholder="confirm password" aria-label="confirm password">
      </div>

      <fieldset class="form-item status-plain-outline">
        <legend>Gender</legend>
        <p>
          <label for="male">Male</label>
          <input type="radio" name="gender" id="male" checked>
        </p>
        <p>
          <label for="female">Female</label>
          <input type="radio" name="gender" id="female">
        </p>
        <p>
          <label for="others">Others</label>
          <input type="radio" name="gender" id="others">
        </p>
      </fieldset>

      <fieldset class="form-item status-plain-outline">
        <legend>Languages known</legend>
        <p>
          <label for="JavaScript">JavaScript</label>
          <input type="checkbox" name="gender" id="JavaScript" checked>
        </p>
        <p>
          <label for="Python">Python</label>
          <input type="checkbox" name="gender" id="Python">
        </p>
        <p>
          <label for="Java">Java</label>
          <input type="checkbox" name="gender" id="Java">
        </p>
      </fieldset>

      <div class="form-item status-plain-outline">
        <label for="coding-level">Coding Level:</label>
        <input type="range" name="coding level" id="coding-level" min="1" max="5">
      </div>

      <button class="btn bg-primary" type="submit">Hello</button>

    </form>
    <br>
    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620fca5a14fadf0015661e0a" frameborder="0"></iframe>

  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>