<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — input</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item"> <a
            href=/pages/docs.html>Documentation </a> </li> <li class="nav-list-item"> <a
              href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
                href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>


  <aside>
    <nav class="nav-side">
      <ul>

        <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



        <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



        <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



        <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>







        <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



        <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



        <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



        <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>



        <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



        <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



        <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



        <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



        <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



        <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


      </ul>
    </nav>
  </aside>


  <header>
    <h1 clss="page-title">input</h1>
  </header>



  <main class="main-content">
    <form action="#" class="form">
      <div class="form-item status-success-outline">
        <input type="text" class="form-input" placeholder="name" aria-label="name" autocomplete="name">
      </div>
      <div class="form-item status-plain-outline">
        <input type="email" class="form-input" placeholder="email" aria-label="email" autocomplete="email">
      </div>
      <div class="form-item status-warning-outline">
        <input type="password" class="form-input" placeholder="password" aria-label="password">
      </div>
      <div class="form-item status-error-outline">
        <input type="password" class="form-input" placeholder="confirm password" aria-label="confirm password">
      </div>

      <fieldset class="form-item status-plain-outline">
        <legend>Gender</legend>
        <p>
          <label for="male">Male</label>
          <input type="radio" name="gender" id="male" checked class="">
        </p>
        <p>
          <label for="female">Female</label>
          <input type="radio" name="gender" id="female" class="">
        </p>
        <p>
          <label for="others">Others</label>
          <input type="radio" name="gender" id="others" class="">
        </p>
      </fieldset>

      <fieldset class="form-item status-plain-outline">
        <legend>Languages known</legend>
        <p>
          <label for="JavaScript">JavaScript</label>
          <input type="checkbox" name="gender" id="JavaScript" checked class="">
        </p>
        <p>
          <label for="Python">Python</label>
          <input type="checkbox" name="gender" id="Python" class="">
        </p>
        <p>
          <label for="Java">Java</label>
          <input type="checkbox" name="gender" id="Java" class="">
        </p>
      </fieldset>

      <div class="form-item status-plain-outline">
        <label for="coding-level">Coding Level:</label>
        <input type="range" name="coding level" id="coding-level" min="1" max="5">
      </div>

      <button class="btn bg-primary" type="submit">Hello</button>

    </form>
    <br>
    <iframe src="https://www.thiscodeworks.com/embed/620fca5a14fadf0015661e0a" frameborder="0"></iframe>

  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

</body>

</html>