<!DOCTYPE html>

<html lang=" en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Harshna Haswani">
        <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
        <title> Ira — Modal</title>
        
            <link rel="stylesheet" href="/styles/main.css">            
        
    </head>

    <body  class="docs ">

        
            <a class="logo" href="/">
                <img src="/assets/logo.png" alt="Ira">
            </a>
            <nav class="nav-main">
                <ul>
                    
                        
                    
                        
                            <li class="nav-list-item"> <a href=/pages/about.html>About</a></li>
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                        
                            <li class="nav-list-item"> <a href=/pages/docs.html>Documentation</a></li>
                        
                    
                        
                            <li class="nav-list-item"> <a href=/pages/installation.html>Installation</a></li>
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                        
                    
                    <li class="nav-list-item"> <a href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
                </ul>
            </nav>
        
        
  <aside>
    <nav class="nav-side">
      <ul>
        
          
        
          
        
          
            <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>
          
        
          
        
          
        
          
            <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>
          
        
          
            <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>
          
        
      </ul>
    </nav>
  </aside>

        
            <header>
                <h1 clss="page-title">Modal</h1>
            </header>
        
        
        
  <main class="main-content">
    
    <iframe src="/codeblock/x.txt" frameborder="0" class="codeblock"></iframe>
  </main>


        
            <footer>
                <p>Developed by Harshna Haswani</p>
            </footer>
        
   </body>
</html>