<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — Ratings</title>

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="docs ">


  <nav class="nav-main bg-primary">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Ira">
    </a>
    <ul>

      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item">
          <button class="hamburger">Documentation</button>
          <aside>
            <nav class="nav-side nav-hidden">
              <ul>

                <li class="nav-list-item"><a href="/pages/docs.html">Docs Main</a></li>


                <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



                <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



                <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



                <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>


                <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



                <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



                <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



                <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>

                <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



                <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



                <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



                <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



                <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



                <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



                <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


              </ul>
            </nav>
          </aside>
      </li>
      <li class="nav-list-item"> <a href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
            href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>

  <header>
    <h1 clss="page-title">Ratings</h1>
  </header>



  <main class="main-content padding-x-xl">
<button class="btn btn-link bg-accent"><a class="text text-md" href="">Install file</a></button>
    <p class="site-docs">To implement a rating component, create a wrapper element and add the class <code class="highlight">rating-wrapper</code> to it. Inside the wrapper create the required number of radio buttons with label. Give the desired icon inside the label element.</p>
    <p class="site-docs">To create rating with primary/secondary colors, add the class <code class="highlight">wrap-primary</code> to the wrapper. To create rating with other colors, add the class <code class="highlight">wrap-color</code> to the wrapper.</p>
    <p class="site-docs">To set the color of the color wrapper, use the following CSS properties
      <h3 class="heading list-heading site-docs">CSS properties for wrap-color</h3>
      <ul class="list list-bulleted">
        <li class="list-item"><code>  --color-rating-before:  &lt;color>;</code></li>
        <li class="list-item"><code>--color-rating-after: &lt;color>;</code></li>
      </ul>
    </p>
    <div class="rating-wrapper wrap-color">
        <input type="radio" name="rating" id="star-5">
        <label for="star-5">✫</label>
        <input type="radio" name="rating" id="star-4">
        <label for="star-4">✫</label>
        <input type="radio" name="rating" id="star-3">
        <label for="star-3">✫</label>
        <input type="radio" name="rating" id="star-2">
        <label for="star-2">✫</label>
        <input type="radio" name="rating" id="star-1">
        <label for="star-1">✫</label>
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620f504c14fadf0015661db1"  frameborder="0"></iframe>

    <div class="rating-wrapper wrap-primary">
        <input type="radio" name="rating-2" id="solid-star-5">
        <label for="solid-star-5">★</label>
        <input type="radio" name="rating-2" id="solid-star-4">
        <label for="solid-star-4">★</label>
        <input type="radio" name="rating-2" id="solid-star-3">
        <label for="solid-star-3">★</label>
        <input type="radio" name="rating-2" id="solid-star-2">
        <label for="solid-star-2">★</label>
        <input type="radio" name="rating-2" id="solid-star-1">
        <label for="solid-star-1">★</label>
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/620f509a14fadf0015661db2" frameborder="0"></iframe>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>