<!DOCTYPE html>

<html lang=" en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Harshna Haswani">
  <meta name="description" content="Ira is the component library for scalable, modern, and beautiful UI.">
  <title> Ira — text</title>

  <link rel="stylesheet" type="text/css" href="../../styles/main.css">

</head>

<body class="docs ">

  <nav class="nav-main bg-primary">
  <a class="logo" href="/">
    <img src="/assets/logo.png" alt="Ira">
  </a>
    <ul>
      <li class="nav-list-item"> <a href=/pages/about.html>About </a> </li> <li class="nav-list-item"> <a
            href=/pages/docs.html>Documentation </a> </li> <li class="nav-list-item"> <a
              href=/pages/installation.html>Installation </a> </li> <li class="nav-list-item"> <a
                href="https://github.com/HarshnaNHaswani/Ira">GitHub</a></li>
    </ul>
  </nav>


  <button class="hamburger btn bg-accent">UI Components</button>
  <aside>
    <nav class="nav-side nav-hidden">
      <ul>

        <li class="nav-list-item"><a href="/pages/components/alert.html">alert</a></li>



        <li class="nav-list-item"><a href="/pages/components/badge.html">badge</a></li>



        <li class="nav-list-item"><a href="/pages/components/button.html">button</a></li>



        <li class="nav-list-item"><a href="/pages/components/input.html">input</a></li>







        <li class="nav-list-item"><a href="/pages/components/avatar.html">avatar</a></li>



        <li class="nav-list-item"><a href="/pages/components/grid.html">grid</a></li>



        <li class="nav-list-item"><a href="/pages/components/image.html">image</a></li>



        <li class="nav-list-item"><a href="/pages/components/modal.html">Modal</a></li>
        
        
        <li class="nav-list-item"><a href="/pages/components/drawer.html">Drawer</a></li>



        <li class="nav-list-item"><a href="/pages/components/card.html">card</a></li>



        <li class="nav-list-item"><a href="/pages/components/list.html">list</a></li>



        <li class="nav-list-item"><a href="/pages/components/navigation.html">navigation</a></li>



        <li class="nav-list-item"><a href="/pages/components/rating.html">Ratings</a></li>



        <li class="nav-list-item"><a href="/pages/components/snackbar.html">Snackbar</a></li>



        <li class="nav-list-item"><a href="/pages/components/text.html">text</a></li>


      </ul>
    </nav>
  </aside>


  <header>
    <h1 clss="page-title">text</h1>
  </header>



  <main class="main-content">
    <h3 class="heading site-docs list-heading">Headings</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>headings</code></li>
      <li class="list-item"><code>heading-xs</code></li>
      <li class="list-item"><code>heading-sm</code></li>
      <li class="list-item"><code>heading-md</code></li>
      <li class="list-item"><code>heading-lg</code></li>
      <li class="list-item"><code>heading-xl</code></li>
    </ul>
    <h3 class="heading site-docs list-heading">Text</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>text</code></li>
      <li class="list-item"><code>text-xs</code></li>
      <li class="list-item"><code>text-sm</code></li>
      <li class="list-item"><code>text-md</code></li>
      <li class="list-item"><code>text-lg</code></li>
      <li class="list-item"><code>text-xl</code></li>
    </ul>
    <h3 class="heading site-docs list-heading">gray text</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>grey-text</code></li>
    </ul>
    <h3 class="heading site-docs list-heading">centered text</h3>
    <ul class="list list-bulleted">
      <li class="list-item"><code>center-x</code></li>
      <li class="list-item"><code>center-y</code></li>
      <li class="list-item"><code>center-xy</code></li>
    </ul>
    <div>
      <h3 class="heading heading-xl">This is extra large heading</h3>
      <h3 class="heading heading-lg">This is large heading</h3>
      <h3 class="heading heading-md">This is medium heading</h3>
      <h3 class="heading heading-sm">This is small heading</h3>
      <h3 class="heading heading-xs">This is extra small heading</h3>
    </div>

    <div>
      <p class="text text-xl">This para has extra large text</p>
      <p class="text text-lg">This para has large text</p>
      <p class="text text-md">This para has medium text</p>
      <p class="text text-sm">This para has small text</p>
      <p class="text text-xs">This para has extra small text</p>
    </div>

    <div>
      <p class="gray-text">this is gray text</p>
    </div>

      <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/6212654f5362a500156c2bfc" frameborder="0"></iframe>

    <div class=" gray-text">

      <p class="center-x display">This section has class <strong><em> 'center-x' </em></strong>. It centers text through the x axis. That is, horizontally. It divides the excess horizontal space equally between left and right. For proper display 'gray-text' has been used with height 400px. </p>

      <p class="center-y display">This section has class <strong><em> 'center-y' </em></strong>. It centers text through the y axis. That is, vertically.  It divides the excess vertical space equally between top and bottom. For proper display 'gray-text' has been used with height 400px. </p>

      <p class="center-xy display">This has class <strong><em> 'center-xy' </em></strong>. It centers text through the x axis and y-axis. That is, horizontally and vertically. It divides the excess vertical space equally between top and bottom; horizontal space equally between left and right. For proper display 'gray-text' has been used with height 400px. </p>
    </div>

    <iframe loading="lazy" src="https://www.thiscodeworks.com/embed/621265b05362a500156c2bfd" frameborder="0"></iframe>
  </main>



  <footer>
    <p>Developed by Harshna Haswani</p>
  </footer>

  <script src="../../scripts/site-nav-side.js"></script> 
</body>

</html>